@import "tailwindcss";
@plugin "daisyui" {
    themes: fantasy --default, dracula --prefersdark;
    exclude: [ "scrollbar"];
}

@theme {
    --color-green-primary-1: #4f8f75;
    --color-green-primary-2: #48887a;
    --color-green-primary-3: #40745f;
    --color-green-secondary: #a9cf46;
    --color-gray-primary: #4c4e4b;
    --color-white-primary: #f1f1f1;
    --color-white-secondary: #f2f9ff;
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

body {
    font-family: var(--font-sans);
}
